<div>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <div class="alert alert-primary " role="alert" STYLE="text-align: center">
          <h4>CREATE CUSTOMER INFORMATION</h4>
        </div>
      </div>
      <div class="col-3"></div>
    </div>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-3">
        <div class="form-group">
          <label>Customer Code</label>
          <input type="text" formControlName="customerCode" class="form-control"/>
          <div class="validate" *ngIf="formGroup.get('customerCode').invalid && formGroup.get('customerCode').touched">
            <span *ngIf="formGroup.get('customerCode').hasError('required')">Vui lòng nhập mã khách hàng!</span>
            <span
              *ngIf="formGroup.get('customerCode').hasError('pattern')">Mã khách hàng không đúng định dạng(KH-XXXX)!</span>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label>Customer Type</label>
          <select class="form-control" formControlName="customerType">
            <option  *ngFor="let customerType of customerTypeList" [ngValue]="customerType">{{customerType.name}}</option>
          </select>
          <span class="validate" *ngIf="formGroup.get('customerType').invalid && formGroup.get('customerType').touched">
            Vui lòng chọn loại khách hàng!
          </span>
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <label>Customer Name</label>
          <input formControlName="customerName" type="text" class="form-control"/>
          <span class="validate" *ngIf="formGroup.get('customerName').invalid && formGroup.get('customerName').touched">
            Tên khách hàng không được để trống!
          </span>
        </div>
      </div>
      <div class="col-1"></div>

      <div class="col-1"></div>
      <div class="col-3">
        <div class="form-group ">
          <label>Birthday</label>
          <input formControlName="customerBirthday" type="date" class="form-control"/>
          <span class="validate"
                *ngIf="formGroup.get('customerBirthday').invalid && formGroup.get('customerBirthday').touched">
            Vui lòng nhập ngày sinh!
          </span>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label>Gender</label>
          <select formControlName="customerGender" class="form-control" required>
            <option selected disabled value="">Choose...</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
          </select>
          <span class="validate"
                *ngIf="formGroup.get('customerGender').invalid && formGroup.get('customerGender').touched">
            Vui lòng chọn giới tính!
          </span>
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <label>Id Card</label>
          <input formControlName="customerIdCard" type="text" class="form-control"/>
          <div class="validate"
               *ngIf="formGroup.get('customerIdCard').invalid && formGroup.get('customerIdCard').touched">
            <span *ngIf="formGroup.get('customerIdCard').hasError('required')">Vui lòng nhập Id Card</span>
            <span
              *ngIf="formGroup.get('customerIdCard').hasError('pattern')">Id Card không đúng định dạng!</span>
          </div>
        </div>
      </div>
      <div class="col-1"></div>
    </div>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-3">
        <div class="form-group">
          <label>Phone Number</label>
          <input formControlName="customerPhone" type="text" class="form-control"/>
          <div class="validate"
               *ngIf="formGroup.get('customerPhone').invalid && formGroup.get('customerPhone').touched">
            <span *ngIf="formGroup.get('customerPhone').hasError('required')">
              Vui lòng nhập số điện thoại
            </span>
            <span *ngIf="formGroup.get('customerPhone').hasError('pattern')">
              Số điện thoại không đúng định dạng!
            </span>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group ">
          <label>Email</label>
          <input formControlName="customerEmail" type="text" class="form-control"/>
          <span class="validate"
                *ngIf="formGroup.get('customerEmail').invalid && formGroup.get('customerEmail').touched">
            Email không đúng định dạng!
          </span>
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <label>Address</label>
          <input formControlName="customerAdress" type="text" class="form-control"/>
          <span class="validate"
                *ngIf="formGroup.get('customerAdress').invalid && formGroup.get('customerAdress').touched">
            Vui lòng nhập địa chỉ!
          </span>
        </div>
      </div>
      <div class="col-1"></div>
    </div>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <div style="display: inline-block">
          <button type="submit" class="btn btn-success my-1">
            <svg xmln="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi
                    bi-pencil-square" viewBox="0 0 16 16">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75
                    2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.50 0 0
                    .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0
                    1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1
                    2.5v11z"/>
            </svg>
            Create
          </button>
        </div>

        <div style="display: inline-block; margin-left: 480px">
          <a>
            <button type="button" class="btn btn-secondary my-1">
              <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor"
                   class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                <path
                  d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
                <path fill-rule="evenodd"
                      d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
              </svg>
              Reset
            </button>
          </a>
        </div>
        <div style="display: inline-block; margin-left: 505px">
          <a>
            <button type="button" class="btn btn-warning my-1">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                   class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
              </svg>
              Back
            </button>
          </a>
        </div>
      </div>
      <div class="col-1"></div>
    </div>
  </form>
</div>
