<div>
  <div style=" display:inline-block;  margin-left: 105px; margin-bottom: 5px">
    <a routerLink="/customer/create">
      <button type="button" class="btn btn-success my-2 my-sm-0" style="color: white">
        <svg xmln="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi
                    bi-pencil-square" viewBox="0 0 16 16">
          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75
                    2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.50 0 0
                    .196-.12l6.813-6.814z"/>
          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0
                    1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1
                    2.5v11z"/>
        </svg>
        Thêm mới khách hàng
      </button>
    </a>
  </div>
  <div class="container border pt-5 mt-5 ">
    <div>
      <table class="table table-bordered table-striped">
        <thead>
        <tr style="text-align: center" class="table-primary">
          <th>STT</th>
          <th>Customer Code</th>
          <th>Customer Type Name</th>
          <th>Name</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Address</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let customer of customers; let i = index" style="text-align: center">
          <td>{{i + 1}}</td>
          <td>{{customer.code}}</td>
          <td>{{customer.customerType.name}}</td>
          <td>{{customer.name}}</td>
          <td>{{customer.phone}}</td>
          <td>{{customer.email}}</td>
          <td>{{customer.address}}</td>
          <td>
<!--            <a [routerLink]="['/customer/edit', customer.id]">-->
<!--              <button class="btn btn-info">-->
<!--                <svg xmln="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi-->
<!--                    bi-pencil-square" viewBox="0 0 16 16">-->
<!--                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75-->
<!--                    2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.50 0 0-->
<!--                    .196-.12l6.813-6.814z"/>-->
<!--                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0-->
<!--                    1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1-->
<!--                    2.5v11z"/>-->
<!--                </svg>-->
<!--                Edit-->
<!--              </button>-->
<!--            </a>-->
          </td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-footer></app-footer>
