<app-navbar></app-navbar>
<div class="container">
  <table class="table">
    <tr>
      <th>Service Name</th>
      <td>{{service.name}}</td>
    </tr>
    <tr>
      <th>Service Code</th>
      <td>{{service.code}}</td>
    </tr>
    <tr>
      <th>Service MaxPeople</th>
      <td>{{service.maxPeople}}</td>
    </tr>
    <tr>
      <th>Number Of Floors</th>
      <td>{{service.numberOfFloors}}</td>
    </tr>
    <tr>
      <th>Rent Type</th>
      <td>{{service.rentType.name}}</td>
    </tr>
    <tr>
      <th>Service Type</th>
      <td>{{service.serviceType.name}}</td>
    </tr>
    <tr>
      <th>Pool Area</th>
      <td>{{service.poolArea}}</td>
    </tr>
    <tr>
      <th>Standard Room</th>
      <td>{{service.standardRoom}}</td>
    </tr>
    <tr>
      <th>Description</th>
      <td>{{service.description}}</td>
    </tr>
    <tr>
      <th>Service Cost</th>
      <td>{{service.cost}}</td>
    </tr>
  </table>
</div>
<app-footer></app-footer>
