<div>
  <div class="row container-fluid navbar navbar-light bg-info" style="margin: 0">
    <div class="col-4 ">
      <h5>THÔNG TIN LIÊN HỆ</h5>
      <span class="fa fa-map-marker"></span><span>   295 Nguyễn Tất Thành, Đà Nẵng</span><br>
      <span class="fa fa-phone"></span><span>   Hotline: (+84)394058678</span><br>
      <span class="fa fa-envelope"></span><span>   Email: tt@gmail.com.vn</span><br>
      <span class="fa fa-internet-explorer"></span><span>   Website: ttt.com</span><br>
    </div>
    <div class="col-3 ">
      <img src="/assets/img/googleMap.jpg" style="width: 200px; height: 150px" alt="...">
    </div>
    <div class="col-3">
      <h5>CHIA SẺ MẠNG XÃ HỘI</h5>
      <span class="fa fa-facebook"></span><span>   Facebook</span><br>
      <span class="fa fa-youtube"></span><span>   Youtube</span><br>
      <span class="fa fa-google-plus-square"></span><span>   Google+</span><br>
      <span class="fa fa-twitter"></span><span>   Twitter</span><br>
      <span class="fa fa-instagram"></span><span>   Instagram</span><br>
    </div>
  </div>
  <div class="table-secondary text-center">
    <p>© 2021 - Thiết kế web bởi Tài Em :))</p>
  </div>
</div>
